* {
    margin: 0;
    padding: 0;
  }
  
  .container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2fr 1fr 8fr;
    gap: 4px;
    height: 900px;
  }
  
  .container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
  }
  
  .header {
    background-color: #393f4d;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 4fr;
  
  }
  
  
  .menu ul {
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
  }
  
  .menu li {
    display: grid;            /* new */
    align-items: center;      /* new */
    justify-items: end; 
  }  
  
  
  .sidebar .photo {
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: normal;
    border-radius: 10px;
  }
  
  .sidebar {
    background-color: #0284c7;
    grid-row: 1 / 4;
    grid-column: 1 / 2;
  }

  
  .article {
    background-color: #bccbde;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:15px 
  }
  
  .article p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
  }
  
  .article .card {
    background-color: #FFFFFF;
    color: black;
    text-align: center;
  }
  
  .card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
  }
  
  .card .title {
    font-size: 18px;
    text-align: center;
  }

  .title {
    font-size: 10px;
    text-align: center;
    padding-left: 10px;
  }
  
  img {
    height: 30px;
    width: 30px;
    filter: invert(100%) sepia(93%) saturate(1%) hue-rotate(28deg) brightness(109%) contrast(101%);
  }     

  img.logo {
    height: 40px;
    width: 40px;
    color: white;
    filter: invert(100%) sepia(93%) saturate(1%) hue-rotate(28deg) brightness(109%) contrast(101%);
  }

  .Dashbord-title {
    font-size: 25px;
  }

  .Dashbord-logo {
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  .sidebar-flex1, .sidebar-flex2{
    display: flex;
    flex-direction: column;
  }

 
  div.left-side {
    height: 20px;
    display: flex;
    align-items: center;
  }


  

  